.detail {
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 5rem;

    .detail-container {
        width: 95%;
        margin: auto;
        border-radius: 0.625rem;
        background: #022A4E;
        padding: 2.5vw;

        .detail-item {
            width: 100%;
            margin: 1rem 0;
            display: flex;
            gap: 1rem;

            .dl {
                width: 50%;

                .big-img {
                    width: 43vw;
                    border-radius: 10px;
                }

                .images {
                    display: flex;
                    gap: 1rem;
                    padding: 1rem;

                    // justify-content: space-between;
                    .small-img {
                        img {
                            width: 7rem;
                            border-radius: 10px;

                        }
                    }
                }

                .small-img {
                    flex-basis: 24%;
                    color: #000;
                }

            }

            .dr {
                width: 50%;
                color: #fff;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .description {
                    dl {
                        dt {
                            padding: 10px 0;
                        }

                        dd {
                            padding-left: 2rem;
                            color: #FFF;
                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 149.9%;
                        }
                    }
                }

            }
        }

        &>p {
            color: #FFF;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem;
        }
    }
}

@media (max-width:768px) {
    .detail .detail-container p {
        color: #FFF;
        font-size: 4vw;
        font-style: normal;
        font-weight: 400;
        line-height: 6vw;
    }

    .detail .detail-container .detail-item {
        width: 100%;
        margin: 1rem 0;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    .detail .detail-container .detail-item .dl {
        width: 100%;
    }

    .detail .detail-container .detail-item .dl .big-img {
        width: 90vw;
    }

    .detail .detail-container .detail-item .dl img {
        width: 100%;
    }

    .detail .detail-container .detail-item .dr {
        width: 100%;
    }

    .detail .detail-container .detail-item .dl .images .small-img img {
        width: 18vw;
    }
}