header {
    width: 85%;
    margin: 2vw auto;
    border-radius: 3.125rem;
    background: rgba(217, 217, 217, 0.25);
    box-shadow: 0px 4px 10.9px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 0 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;


    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #open {
        display: none;
    }

    label {
        font-size: 20px;
        color: #333;
        cursor: pointer;
        display: none;
    }

    nav {
        ul {
            li {
                position: relative;
                float: left;

                &:focus-within>ul,
                &:hover>ul {
                    display: block;
                }

                a {
                    display: block;
                    padding: 20px;
                    text-transform: capitalize;
                    color: #022A4E;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-decoration: none;

                    // &:hover {
                    //     background-color: #333;
                    //     color: #fff;
                    // }
                }

                ul {
                    position: absolute;
                    display: none;
                    left: 0;
                    width: 200px;
                    background-color: #ffffff;
                    padding: 0;
                    border: 1px solid #555;

                    li {
                        width: 100%;
                        border-top: 1px solid #555;
                    }
                }

            }
        }
    }
}

.butt {
    --primary-color: #022A4E;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 2.25rem;
    color: var(--secondary-color);
    padding: 10px 20px;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    line-height: normal;

    .arrow-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow {
        margin-top: 1px;
        width: var(--arrow-width);
        background: var(--primary-color);
        height: var(--arrow-stroke);
        position: relative;
        transition: 0.2s;

        &::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            border: solid var(--secondary-color);
            border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
            display: inline-block;
            top: -3px;
            right: 3px;
            transition: 0.2s;
            padding: 3px;
            transform: rotate(-45deg);
        }
    }

    &:hover {
        background-color: var(--hover-color);

        .arrow {
            background: var(--secondary-color);

            &:before {
                right: 0;
            }
        }
    }
}


// media query

@media(max-width:768px) {
    header {
        width: 98%;
        padding: 10px;

        label {
            display: block;
        }

        nav {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #ffffff;
            border: 1px solid #555;
            display: none;
            border-radius: 20px;
            margin-top: 5px;

            ul {
                padding: 0;

                li {
                    width: 100%;

                    ul {
                        position: relative;
                        width: 100%;
                        padding-left: 2rem;
                    }
                }
            }
        }

        #open:checked~nav {
            display: block;

        }

        .phone {
            display: none;
        }
    }
}